includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
        - tests
    excludePaths:
        analyse:
            - src/App/Nova/*
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
